body {
    margin: 0px;
    padding: 0px;
}

.flex-container {
    display: flex;
}

.flex-container>div {
    margin: 0px 16px;
}

.marginTop {
    margin-top: 16px;
}

.centerAlign {
    text-align: center;
}

.marginBottom {
    margin-bottom: 16px;
}

.bold {
    font-weight: bold;
}

.yellow {
    color: yellow;
    cursor: pointer;
}

.black {
    color: none;
    cursor: pointer;
}

.trailerContainer {
    margin: 16px 0px 16px 0px !important;
}

.gridTile {
    cursor: pointer;
}

.back {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
    cursor: pointer;
    text-decoration: none;
}

iframe {
    width: 100% !important;
}

@media (max-width: 1120px) {
    .leftSideDetails {
        width: auto;
        height: auto;
        text-align: center;
    }

    .middleSideDetails {
        width: auto;
        height: auto;
    }

    .rightSideDetails {
        width: auto;
        height: auto;
    }

    .flex-container {
        flex-direction: column;
    }

    .paddingRight {
        margin-right: 30px;
    }
}